#newNoteButton {
    margin: 0;
    padding: 5px;

    width: 100%;
}

.note-list-item {
    width: 100%;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;


    background-color: white;
    border: none;

    font-weight: bold;
}

.note-list-item:hover {
    background-color: cadetblue;
}

#list-column-header {
    margin-bottom: 17px;
}

#note-list-container {
    margin: 0;
    padding: 0;
}

#collapse-button {
    font-size: 12px;
    color: cadetblue;
    background-color: white;
    border: none;
}
